.header-svg {
  width: 60px;
  height: auto;
  margin-left: 6px;
  vertical-align: top;
}

.svg-letters {
  fill: #ffffff;
}

.header-title {
  margin-left: 12px;
  font-size: 1.2rem;
  vertical-align: bottom;
}

.header-subtitle {
  margin-left: 12px;
  color: #ffffff;
  font-size: 0.8rem;
  vertical-align: center;
}
