
.playa-compact-item {
  --min-height: 70px;
  --padding-start: 8px;
  --padding-end: 8px;
  align-items: center;

  ion-label {
    margin: 8px 0;
  }
}

.location-start-button {
  --padding-start: 4px;
  --padding-end: 4px;
  margin: 0;
  min-width: auto;
  min-height: auto;
  ion-icon {
    font-size: 1.5rem;
  }
}

.playa-nombre {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 8px 0;
  line-height: 1.2;
}

.municipio-text {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--ion-color-step-600);
  margin: 4px 0 0 0;
}

.provincia-text {
  font-size: 0.85rem;
  color: var(--ion-color-medium);
  margin: 4px 0 0 0;
  text-transform: uppercase;
}

.actions-col {
  display: flex;
  align-items: center;
  gap: 8px;
}

.favorita-button {
  --padding-start: 4px;
  --padding-end: 4px;
  margin: 0;
  min-width: auto;
  min-height: auto;

  ion-icon {
    font-size: 1.5rem;
  }
}
  .vertical-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Opcional: ajustar el espacio entre botones */
  gap: 4px;

}





