<app-header [tituloPagina]="'settings.title' | translate"></app-header>

<ion-content>
  <ion-list inset="true">
    <ion-item>
      <ion-select
        [label]="'settings.language' | translate"
        [value]="lang"
        (ionChange)="onLangChange($event)"
        interface="popover">
        <ion-select-option value="es">{{ 'settings.lang.es' | translate }}</ion-select-option>
        <ion-select-option value="en">{{ 'settings.lang.en' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        [label]="'settings.tabInicial' | translate"
        [value]="tabInicial"
        (ionChange)="onTabInicialChange($event)"
        interface="popover">
        <ion-select-option *ngFor="let t of tabsDisponibles" [value]="t.value">
          {{ t.labelKey | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        [label]="'settings.email' | translate"
        labelPlacement="stacked"
        type="email"
        inputmode="email"
        [value]="email"
        (ionInput)="onEmailChange($event)">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="emailInvalido" lines="none">
      <ion-note color="danger">{{ 'settings.emailInvalido' | translate }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle
        [checked]="notificaciones"
        (ionChange)="onNotificacionesChange($event)">
        {{ 'settings.notifications' | translate }}
      </ion-toggle>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" fill="outline" (click)="cerrar()">
      {{ 'common.close' | translate }}
    </ion-button>
  </div>
</ion-content>
