<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favoritas" href="/tabs/favoritas">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Prevision </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="buscar" href="/tabs/buscar">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Playas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eventos" href="/tabs/eventos">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
      <ion-label>Travesias</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendario" href="/tabs/calendario">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Mi Calendario</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tips" href="/tabs/tips">
      <ion-icon aria-hidden="true" name="help-buoy"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
