<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favoritas" href="/tabs/favoritas">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoritas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="buscar" href="/tabs/buscar">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario" href="/tabs/calendario">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tips" href="/tabs/tips">
      <ion-icon aria-hidden="true" name="help-buoy"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
