@if (visible) {
  <div class="ios-install-banner" role="dialog" aria-live="polite">
    <button type="button" class="close-btn" (click)="dismiss()" [attr.aria-label]="'components.iosInstall.closeAria' | translate">
      <ion-icon name="close"></ion-icon>
    </button>
    <div class="title">{{ 'components.iosInstall.title' | translate }}</div>
    <ol class="steps">
      <li>
        {{ 'components.iosInstall.step1Before' | translate }}<strong>{{ 'components.iosInstall.step1Bold' | translate }}</strong>
        <ion-icon name="share-outline" [attr.aria-label]="'components.iosInstall.shareAria' | translate"></ion-icon>
        {{ 'components.iosInstall.step1After' | translate }}
      </li>
      <li>
        {{ 'components.iosInstall.step2Before' | translate }}<strong>{{ 'components.iosInstall.step2Bold' | translate }}</strong>
        <ion-icon name="add-outline" [attr.aria-label]="'components.iosInstall.addAria' | translate"></ion-icon>
        {{ 'components.iosInstall.step2After' | translate }}
      </li>
      <li>
        {{ 'components.iosInstall.step3Before' | translate }}<strong>{{ 'components.iosInstall.step3Bold' | translate }}</strong>{{ 'components.iosInstall.step3After' | translate }}
      </li>
    </ol>
    <div class="actions">
      <button type="button" class="action-btn primary" (click)="yaInstalada()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        {{ 'components.iosInstall.installed' | translate }}
      </button>
    </div>
  </div>
}
