<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/eventos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ evento?.descripcion || ('pages.eventoView.detail' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isLoading) {
    <section style="display: flex; justify-content: center; align-items: center; padding: 40px 0;">
      <ion-spinner name="circular"></ion-spinner>
    </section>
  }

  @if (evento) {
    <app-evento
      [evento]="evento"
      [detalleCompleto]="true"
      [esParticularFavorito]="esFav"
      [mostrarBotonFavorito]="true"
      (toggleFavorito)="onToggleFavorito($event)">
    </app-evento>
  }
</ion-content>
