<app-header [tituloPagina]="'pages.calendario.title' | translate" />
<ion-content>
  <div *ngIf="grupos.length === 0" class="calendario-vacio" style="padding: 24px; text-align: center; color: var(--ion-color-medium);">
    <p>
      {{ 'pages.calendario.emptyLine1Part1' | translate }}<ion-icon src="assets/icon/evento-cabeza-brazos.svg" color="primary" style="vertical-align: middle;"></ion-icon>{{ 'pages.calendario.emptyLine1Part2' | translate }}
    </p>
    <p>
      {{ 'pages.calendario.emptyLine2Part1' | translate }}<ion-icon name="calendar" color="primary" style="vertical-align: middle;"></ion-icon>{{ 'pages.calendario.emptyLine2Part2' | translate }}
    </p>
    <ion-button expand="block" color="primary" (click)="irABuscar()" style="margin-top: 16px;">
      {{ 'pages.calendario.searchEvents' | translate }}
    </ion-button>
  </div>

  <ion-accordion-group *ngIf="grupos.length > 0" [value]="mesesAbiertos" [multiple]="true" (ionChange)="onAccordionChange($event)">
    <ion-accordion *ngFor="let g of grupos; trackBy: trackByClave" [value]="g.clave">
      <ion-item slot="header" class="mes-header" lines="none">
        <ion-label class="mes-titulo">
          {{ g.titulo | titlecase }} <span class="mes-contador">({{ g.eventos.length }})</span>
        </ion-label>
      </ion-item>
      <div slot="content">
        <app-evento
          *ngFor="let ev of g.eventos"
          [evento]="ev"
          [esParticularFavorito]="true"
          [mostrarBotonFavorito]="false"
          (toggleFavorito)="onToggleFavorito(ev)"
          (itemClick)="onEventoClick(ev)">
        </app-evento>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
