<app-header tituloPagina="Buscar cabecera" />
<ion-content [fullscreen]="true">
  <!-- Sección fija con sombra y margen -->
  <section
    style="position: sticky;
           top: 0;
           z-index: 10;
           background: var(--ion-background-color, #fff);
           box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
           margin-bottom: 12px;">
    <ion-toolbar>
      <ion-searchbar placeholder="Busca Playa" show-clear-button="focus" [(ngModel)]="patterName" (change)="getPlayasByName()"  ></ion-searchbar>
    </ion-toolbar>
  </section>
  <section>
    <ion-grid fixed>
      <ion-row>
        <!-- size="12" (Móvil: 1 columna) -->
        <!-- size-md="6" (Tablet: 2 columnas) -->
        <!-- size-lg="4" (Escritorio: 3 columnas) -->

        @for (item of playas; track item.cod_playa) {
        <ion-col size="12" size-md="6" size-lg="4"  class="ion-no-padding">
          <!-- Tu componente personalizado -->
          <app-playa [playa]="item"></app-playa>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
