<div class="evento-card">
<ion-item lines="none" class="evento-compact-item" detail="false">

  <div slot="start">
    <ion-label style="min-width: 0;">
      <div style="display: flex; justify-content: space-between; align-items: baseline; min-width: 0;">
        <h2 class="evento-titulo" style="margin: 0;" [title]="evento.descripcion">{{ evento.descripcion }}</h2>
      </div>
      @if (evento.municipio) {
        <p class="lugar-text">{{ evento.municipio }}@if (evento.provincia) { ({{ evento.provincia }})}</p>
      } @else if (evento.lugar_evento) {
        <p class="lugar-text">{{ evento.lugar_evento }}</p>
      }
      <p class="fecha-text" [style.color]="evento.fecha_evento | colorFecha">
        {{ evento.fecha_evento | fecha }} -
        <span class="dia-semana" [class.dia-finde]="esFinde">{{ diaSemana }}</span>
      </p>

      <div class="evento-extras">
        @if (evento.distancia) {
          <p class="extra-text"><strong>{{ 'components.evento.distance' | translate }}</strong> {{ evento.distancia }}</p>
        }
<!--        @if (evento.organizador) {-->
<!--          <p class="extra-text"><strong>Organizador:</strong> {{ evento.organizador }}</p>-->
<!--        }-->
        @if (evento.precio !== null && evento.precio !== undefined) {
          <p class="extra-text"><strong>{{ 'components.evento.price' | translate }}</strong> {{ evento.precio }} €</p>
        }
      </div>
    </ion-label>
  </div>

  <div slot="end" class="vertical-buttons">
    <ion-button fill="clear" size="small" (click)="abrirInfo($event)" [disabled]="!evento.url_info && !evento.url_inscripcion" class="link-button">
      <ion-icon slot="icon-only" name="information-circle-outline" color="primary"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" (click)="compartir($event)" class="share-button">
      <ion-icon slot="icon-only" name="share-social-outline" color="primary"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" (click)="onToggleFavorito($event)" class="favorito-button">
      <ion-icon slot="icon-only" [name]="esParticularFavorito ? 'calendar' : 'calendar-outline'"
        [color]="colorCalendario">
      </ion-icon>
    </ion-button>
  </div>

</ion-item>

@if (mostrarBotonFavorito) {
  <div class="boton-favorita-row">
    <ion-button
      fill="outline"
      [color]="esParticularFavorito ? 'success' : 'primary'"
      (click)="onToggleFavorito($event)">
      <ion-icon
        slot="start"
        [name]="esParticularFavorito ? 'calendar' : 'calendar-outline'">
      </ion-icon>
      {{ (esParticularFavorito ? 'components.evento.removeFav' : 'components.evento.addFav') | translate }}
    </ion-button>
  </div>
}
</div>
